<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      {{#each text}}
        <tr>
          <td>accessId</td>
          <td>accessDate</td>
          <td>name</td>
          <td>cpf</td>
          <td>email</td>
          <td>cell</td>
          <td>administrationNivel</td>
        </tr>
        <tr>
          <td>{{accessId}}</td>
          <td>{{accessDate}}</td>
          <td>{{name}}</td>
          <td>{{cpf}}</td>
          <td>{{email}}</td>
          <td>{{cell}}</td>
          <td>{{administrationNivel}}</td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>